 /********************* NAV **********************/
 
.icon-nav{
    padding-top: 10px;
    padding-left: 1em;
    font-size: 1.5em;
}
 /********************* Producto **********************/
 
/* Titulo de las prduct-Card  */
.title-product{
  
    font-size: 2em;
  }
  /* Distribucion de las prduct-Card  */
    .productItem{
    padding-top:3em;
  }


  /********************* Categoria **********************/
  .img-category{
    margin-top: 10%;
    width: 6em;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
    display: block;
 }
 .img-category-text{    
     font-size: 2.5em;
     
     text-align: center;
 }

/********************* Categoria **********************/
.icon-login{
   font-size: 2em;
}
.icon-em-1{
  font-size: 1em;
}

.icon-em-2{
  font-size: 1em;
}
.icon-em-3{
  font-size: 1em;
}
.icon-em-{
  font-size: 1em;
}
.icon-login-log{
  font-size: 2.2em;
  padding-top:1em;
  padding-left:1em;
}
.fa-facebook-square{
  color:#3b5998 ;
}
.fa-twitter{
  color:#00aceeed;
}
.fa-google-plus-square{
  color:#DD4B39;
}
/********************* Shopping Cart **********************/
  .product-grid6 .product-image6 a{display:block}
  .product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
  @media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}